body {
  background-color: blue;
  color: magenta;
}
.saved {
  display: inline-block;
  height:200px;
  width:200px;
  float: left;
  margin-left: -30px;
  padding-right: 10px;
}

.jumbotron h1 {
  margin-left: 10px;
}
.jumbotron {
  background-color: yellow;
}

.nav  {
  padding-bottom: 20px;
}

.nav-pills a{
  color:magenta;
  border:1px solid yellow;
}
.gang {
  float:right;
}

button {
  color:blue;
}

#score {
  float:right;
  display: block;
}
