body {
  background-color: #0066ff;
  color:  #ff008b;

}
/*#player {
  width:50px;
  height:50px;
  float:right;
  display:inline-block;
  position:relative;
}

#box, #iframe {
  height:100%;
  width:100%;
  position:absolute;
  top:0;
  left:0;
}
#box {
  z-index: 0;
}*/
#iframe {
  z-index: 10;
  opacity: .99;
  display:none;
}


.content {
  font-family: fantasy;
  font-weight: bold;
  font-size: 1.5em;
  background-color: black;
  border-radius: 15px;
  padding: 10px;
  min-height:400px;
  text-align:center;

}
.saved {
  display: inline-block;
  height:200px;
  width:200px;
  float: left;
  margin-left: -30px;
  padding-right: 10px;
}

.jumbotron h1 {
  margin-left: 10px;
}
.jumbotron {
  background-color: yellow;
}

.nav  {
  padding-bottom: 20px;
}

.nav-pills a{
  color:magenta;
  border:1px solid yellow;
  font-weight: bold;

}
.gang {
  padding-top: 50px;
  height:370px;
  width:400px;
  display: block;
  margin-left:28%;

}

.quizForm {
  text-align:left;
}

button {
  color:blue;
}

#score {
  float:right;
  display: block;
}
table {
  font: 1.4em;
  text-align:left;
}
/*table th{
  text-align:left;
}*/
